body{
    background-color: whitesmoke;
}
span{
    font-size: 16px;
}
a{
    color: blue;
    border-bottom: 2px solid blue;
}
.text{
    margin: 20px 0px;
}
.fa-instagram{
    color: blue;
}
.fa-github{
    color: blue;
}
.fa-google-plus{
    color: blue;
}
.fa-facebook{
    color: blue;
}
.fa-twitter{
    color: blue;
}
.fa-pinterest-p{
    color: blue;
}
.center-info{
    padding: 60px 10px;
    margin: 30px 0px;
    border-radius: 0px;
    background-color: #fff;
}
.center{
    padding: 60px 0px;
}